
.form{
    display: flex;
    flex-direction: column;
}
.normal-input{

}

.normal-input > input, label{
    display: block;
}

.normal-input input{
    width: 180px;
    height: 35px;
    padding-right:20px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}