.labels {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.line {
  padding: 5px;
  display: flex;
  gap: 5px;
}

.label {
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.content > div {
  padding: 16px;
}
