@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html,body {
  margin: 0;
  font-family: 'Varela Round','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003059;
  color: white;
  height:100vh;
  display:flex; 
  flex-direction:column; 
}

#root {
  height: 100vh;
  display:flex; 
  flex-direction:column; 
}



