
.BallChart{
    

    display: grid;
    grid-template-columns: repeat(21, 24px);
    grid-column-gap: 7px ;
    grid-row-gap: 7px ;
    justify-content:center;
    align-content:space-around;
    padding: 5px;

}


@media (max-width: 900px) {

    .BallChart {
         grid-template-columns: repeat(9, 24px); 
        }
  }


@media (max-width: 600px) {
    .BallChart {
      grid-template-columns: repeat(9, 24px); 
        }
  }


  .chart-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

