
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');



.button {
  padding: 20px;
  background-color: #aecc02;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

.button:hover{
  background-color: #8ea704;
  color: white;
}